@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-bg-img{
  background-image: url("/imgs/pexels-ivan-samkov-7621142.jpg");
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/
.btn-trans-black {
  @apply text-black bg-black bg-opacity-10 hover:bg-opacity-30  items-center relative h-7 items-center font-mono tracking-wider pt-0.5 md:pt-0 duration-1000 uppercase text-sm duration-200 items-center px-4 rounded  flex justify-center flex-row;
}

